<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Model Forms Demo</title>
</head>
<body>
<h1 class="display-4 text-center">Please fill out the form!</h1>
<form method="post" class="m-auto w-25">
    {% csrf_token %}
    {{ book_form }}
    {{ author_form }}
    <button type="submit" class="btn btn-primary mx-auto">Submit</button>
</form>
</body>
</html>