<html lang="en">
<head>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <title>Expenses Tracker</title>
    </head>

<body>

<nav>
    <ul>
        <li class="img"><img src="../static/images/dollar.png"></li>
        <li><a href="/">Expenses Tracker</a></li>

        <li class="right"><a href="/profile">Profile</a></li>

    </ul>
</nav>
<div class="body">

    <h1>Create Expense</h1>
    <div class="form">
        <form method="POST" action="{% url 'create expense' %}">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Create">
        </form>
    </div>

</div>
<footer>
    <div>Python Web Basics Exam Preparation @SoftUni</div>
</footer>


</body>
</html>