<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        form > * {
            display: block;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<form>
    <input >
    <input type="text" required>
    <input type="password" required>
    <input type="number" required min="1" max="15" step="3">
    <input type="range" required min="1" max="15" step="3">
    <input type="checkbox" />
    <input type="checkbox" />
    <input type="checkbox" />
    <input type="checkbox" />

    <input type="radio" name="gender" />
    <input type="radio" name="gender" />
    <input type="radio" name="gender" />
    <input type="radio" name="gender" />
    <button>Create</button>
</form>

</body>
</html>