{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>News</title>
</head>

<body>

<div class="navigation-section">
    <nav class="navigation-container container">
        <a class="link-item" href="{% url 'index' %}">Home Page</a>
        <a class="link-item" href="{% url 'list sources' %}">Sources</a>
        <a class="link-item" href="{% url 'create source' %}">Add new Source</a>
        <a class="link-item" href="{% url 'create article' %}">Add new Article</a>
    </nav>
</div>


{% block content %}
{% endblock %}

</body>
</html>